[submodule "lib/pico-sdk"]
	path = lib/pico-sdk
	url = https://github.com/raspberrypi/pico-sdk.git
[submodule "lib/ioLibrary_Driver"]
	path = lib/ioLibrary_Driver
	url = https://github.com/SuperNinja-4965/ioLibrary_Driver.git
